*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
}

#app{
    height: 100vh;
    width: 100vw;
    display: flex;
    /* align-items: center; */
    /* font-size: 4rem; */
    background: black;
    color: green;
}

div p{
    position: absolute; 
    /* top: -20rem */
}

